@charset "utf-8";
@import "weui.min.css";

body{
  background-color: #e6e6e6;
}
a:hover{
  -webkit-tap-highlight-color: transparent;
}

.weui_cells{
  margin-top: 10px;
}
.weui_uploader_file{
  list-style: none;
  .weui_icon_clear{
    float: right;
    &:before{
      display: block;
      color: #F50903;
      background-color: #fff;
      border-radius: 50%;
      font-size: 24px;
    }
  }
}

.weui_uploader_full{
  text-align: right;
  color: #F50903;
  font-size: .8em;
}