@charset "utf-8";

.g_fast_sign{
  .weui_grids{
    position: relative;
    padding: 10px;
    background-color: #fff;
    .weui_icon_success{
      display: none;
      position: absolute;
      right: 10px;
      &:before{
        font-size: 30px;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }
  .weui_cells_title{
    font-size: 17px;
    color: inherit;
    background-color: #fff;
    margin: 0;
    padding: 10px;
  }
  .weui_grid{
    width: 50%;
    padding: 10px;
    .wrap{
      padding: 10px;
      background-color: #e6e6e6;
      border: 1px solid #e1e1e1;
      border-radius: 5px;
    }
    &:active{
      background-color: #fff;
      .wrap{
        background-color: #c6c6c6;
      }
    }
    &.active{
      .wrap{
        background-color: #c6c6c6;
      }
      .weui_icon_success{
        display: block;
      }
    }
    &:before, &:after{
      border: none;
    }
  }
  .weui_grid_icon{
    width: 56px;
    height: 56px;
  }
}

.g_bind_phone{
  .weui_cells_title{
    .weui_icon_warn{
      margin-right: 10px;
      &:before{
        margin-top: -4px;
      }
    }
  }
  .weui_vcode{
    .weui_btn{
      margin: 5px;
      border-radius: 0;
      font-size: 18px;
      &:after{
        border-radius: 0;
      }
    }
  }
}

.g_subscribe_sign{
  .weui_cells{
    margin-top: 0;
    margin-bottom: 10px;
  }
  .cell_datetime{
    input{

    }
  }
}

.g_order_list{
  .order_urgent{
    .order_date:before{
      content: '应急';
      color: #fff;
      background-color: #FF8910;
      display: inline-block;
      padding: 1px 5px;
    }
  }
  .weui_cell_ft{
    .weui_btn {
      margin-top: 0;
    }
  }
  .status_pending {
    color: #39D837;
  }
}