@charset "utf-8";

html,body{
  overflow: hidden;
}
.g_fast_sign{
  .weui_grids{
    position: relative;
    padding: 10px;
    background-color: #fff;
    .weui_icon_success{
      display: none;
      position: absolute;
      right: 10px;
      &:before{
        font-size: 30px;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }
  .weui_cells_title{
    font-size: 17px;
    color: inherit;
    background-color: #fff;
    margin: 0;
    padding: 10px;
  }
  .weui_grid{
    width: 50%;
    padding: 10px;
    .wrap{
      padding: 10px;
      background-color: #e6e6e6;
      border: 1px solid #e1e1e1;
      border-radius: 5px;
    }
    &:active{
      background-color: #fff;
      .wrap{
        background-color: #c6c6c6;
      }
    }
    &.active{
      .wrap{
        background-color: #c6c6c6;
      }
      .weui_icon_success{
        display: block;
      }
    }
    &:before, &:after{
      border: none;
    }
  }
  .weui_grid_icon{
    width: 56px;
    height: 56px;
  }
}

.g_bind_phone{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e6e6e6;
  -webkit-animation-duration:.5s;
  animation-duration:.5s;
  .weui_cells_title{
    .weui_icon_warn{
      margin-right: 10px;
      &:before{
        margin-top: -4px;
      }
    }
  }
  .weui_vcode{
    .weui_btn{
      margin: 5px;
      border-radius: 0;
      font-size: 18px;
      &:after{
        border-radius: 0;
      }
    }
  }
}

.g_subscribe_sign{
  .weui_cells{
    margin-top: 0;
    margin-bottom: 10px;
  }
  .weui_cell_select{
    padding: 10px 15px;
    select{
      height: 1.41176471em;
      line-height: 1.41176471;
      padding-left: 0;
    }
  }
}

.g_order_list{
  .order_urgent{
    .order_date:before{
      content: '应急';
      color: #fff;
      background-color: #FF8910;
      display: inline-block;
      padding: 1px 5px;
      margin-right: 5px;
    }
  }
  .weui_cell_ft{
    .weui_btn {
      margin-top: 0;
    }
  }
  .status_pending {
    color: #39D837;
  }
}

.g_order_detail{
  .order_urgent{
    .order_date:before{
      content: '应急';
      color: #fff;
      background-color: #FF8910;
      display: inline-block;
      padding: 1px 5px;
    }
  }
  .status_pending {
    color: #39D837;
  }
  .media_box_locate.weui_media_box.weui_media_appmsg .weui_media_hd{
    width: 32px;
    height: 32px;
    line-height: 32px;
    .weui_media_title{
      font-size: 14px;
    }
    .weui_media_desc{
      font-size: 12px;
    }
  }
  .weui_media_hd[data-count]{
    position: relative;
    &:after{
      content: attr(data-count)'张';
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: red;
      color: #fff;
      font-size: 12px;
      line-height: 16px;
      padding: 0 5px;
    }
  }
  .date{
    text-align: right;
  }
  .price_list{
    .weui_panel_hd{
      color: #333;
    }
    .weui_panel_bd{
      padding: 10px 0;
    }
    .weui_panel_ft{
      text-align: right;
    }
    ul{
      font-size: .9em;
      color: #999;
    }
    li{
      display: block;
      list-style: disc;
      margin-left: 10px;
      li{
        margin-left: 20px;
      }
    }
    .weui_cell{
      padding: 5px 15px;
    }
  }
}
