<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>kache</title>
</head>
<body ontouchstart>
<div class="g_fast_sign">
    <div class="weui_cells_title">确定报修项：</div>
    <div class="weui_grids">
        <a href="javascript:;" :class="{'weui_grid': true, 'active': type == 0}" @click="selectType(0)">
            <i class="weui_icon_success"></i>
            <div class="wrap">
                <div class="weui_grid_icon">
                    <img src="../assets/images/tire.jpg" alt="">
                </div>
                <p class="weui_grid_label">
                    开不动<br>轮胎坏了
                </p>
            </div>
        </a>
        <a href="javascript:;" :class="{'weui_grid': true, 'active': type == 1}" @click="selectType(1)">
            <i class="weui_icon_success"></i>
            <div class="wrap">
                <div class="weui_grid_icon">
                    <img src="../assets/images/wonder.jpg" alt="">
                </div>
                <p class="weui_grid_label">
                    开不动<br>不知何故
                </p>
            </div>
        </a>
    </div>

    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <uploader :count="uploadCount" :max-length="uploadMaxLength" :has-input="true" v-ref:uploader>
                    <template slot="title">添加故障图片</template>
                </uploader>
            </div>
        </div>
    </div>

    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:;" @click="getUserInfo">确认报修</a>
    </div>
</div>

<div class="g_bind_phone animated" v-show="isVerifyContainerShown" transition="zoom" style="display: none;">
    <div class="weui_cells_title"><i class="weui_icon_warn"></i>绑定手机号，方面维修人员及时联系您</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="number" pattern="[0-9]*" placeholder="请输入手机号" v-model="phone">
            </div>
        </div>
        <div class="weui_cell weui_vcode">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="number" placeholder="请输入验证码" v-model="code">
            </div>
            <div class="weui_cell_ft">
                <a class="weui_btn weui_btn_primary weui_btn_mini" href="javascript:" @click="sendMsg">获取验证码</a>
            </div>
        </div>
    </div>

    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:" @click="validateCode()">提交</a>
    </div>
</div>

<p>{{console}}</p>
<script src="/static/grant_info.js"></script>
</body>
</html>