<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
	<title>kache</title>
</head>
<body ontouchstart>
<div v-cloak id="main_contain" class="g_order_detail">
    <div class="weui_panel">
        <div class="weui_panel_hd weui_cell" :class="{order_urgent: order.type === 0}">
            <div class="weui_cell_primary order_date">
                订单号:{{order.orderId}}
            </div>
            <div class="weui_cell_ft status_pending">
                {{statusMap[order.status]}}
            </div>
        </div>
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_appmsg media_box_locate">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="../assets/images/locate.png" />
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">报修位置</h4>
                    <p class="weui_media_desc">福建省福州市晋安区华林路214号</p>
                </div>
            </div>
        </div>
    </div>

    <div class="weui_panel weui_cells_access">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd" data-count="{{order.images ? order.images.length + '张' : ''}}">
                    <img v-if="order.thumbnails" class="weui_media_appmsg_thumb" :src="order.thumbnails[0]" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">故障描述</h4>
                    <p class="weui_media_desc">{{order.desc}}</p>
                </div>
            </div>
        </div>
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd"><img src="../assets/images/message.png" alt="" style="display: block;
            margin-right: .8em"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>联系客服</p>
            </div>
            <span class="weui_cell_ft"></span>
        </a>
        <div class="weui_panel_ft date">
            报修时间：{{order.updatedAt | date}}
        </div>
    </div>

    <div class="weui_panel price_list" v-if="order.quotation">
        <div class="weui_panel_hd">
            报价清单
        </div>
        <div class="weui_panel_bd">
            <ul>
                <li>
                    <div class="weui_cell">
                        <div class="weui_cell_primary">
                            工时 * {{order.quotation.manHours}}({{order.quotation.manUnitPrice}}元/时)
                        </div>
                        <div class="weui_cell_ft">
                            {{order.quotation.manHours*order.quotation.manUnitPrice}}元
                        </div>
                    </div>
                </li>
                <li>
                    <div class="weui_cell">
                        <div class="weui_cell_primary">
                            上门费
                        </div>
                        <div class="weui_cell_ft">
                            {{order.quotation.dropInFee}}元
                        </div>
                    </div>
                </li>
                <li>
                    <div class="weui_cell">
                        <div class="weui_cell_primary">
                            配件
                        </div>
                        <div class="weui_cell_ft">
                            {{order.quotation.partsTotal}}元
                        </div>
                    </div>
                    <!--<ul>
                        <li>
                            <div class="weui_cell">
                                <div class="weui_cell_primary">
                                    防冻吸尘管
                                </div>
                                <div class="weui_cell_ft">
                                    150元
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="weui_cell">
                                <div class="weui_cell_primary">
                                    天然气滤清器
                                </div>
                                <div class="weui_cell_ft">
                                    100元
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="weui_cell">
                                <div class="weui_cell_primary">
                                    颇尔滤芯UE299A
                                </div>
                                <div class="weui_cell_ft">
                                    100元
                                </div>
                            </div>
                        </li>
                    </ul>-->
                </li>
                <li>
                    <div class="weui_cell">
                        <div class="weui_cell_primary">
                            <span class="color_yellow">配件详细描述：</span>{{order.quotation.partsDesc}}
                        </div>
                        <div class="weui_cell_ft">

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="weui_panel_ft">
            <p>总费用:<span class="color_yellow">{{order.quotation.dropInFee + (order.quotation.manHours*order.quotation.manUnitPrice) +order.quotation.partsTotal}}</span>元</p>
        </div>
    </div>

    <div class="action_bar">
        <div class="weui_cells">
            <div class="weui_cell">
                <template v-if="order.status == 0">
                    <div class="weui_cell_primary">
                        <template v-if="!order.quotation">
                            <div class="vm_text">
                                <div class="count_down">
                                    {{{now | countDown order.createdAt (30*60*1000) | countDownText}}}
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="weui_cell_ft">
                        <template v-if="!order.quotation">
                            <a class="weui_btn weui_btn_default weui_btn_mini" href="javascript:" v-if="now && ((new Date(now) - new Date(order.createdAt)) <= 30*60*1000)">取消订单</a>
                        </template>
                        <template v-else>
                            <a class="weui_btn weui_btn_default weui_btn_mini" href="javascript:">取消订单</a>
                            <a class="weui_btn weui_btn_primary weui_btn_mini" href="javascript:" @click="confirmOrder">确认下单维修</a>
                        </template>
                    </div>
                </template>
                <template v-if="order.status == 1">
                    <div class="weui_cell_primary">
                        <div class="vm_text color_yellow">
                            修理厂已开始处理您的订单，请保持电话畅通。
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>

    <div id="toastContainer">
        <toast v-ref:toast></toast>
        <loading-toast v-ref:loading></loading-toast>
    </div>
</div>

<div class="weui_loading_toast g_enter_loading">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>
<script src="/static/grant_info.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</body>
</html>