<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
	<title>kache</title>
</head>
<body ontouchstart>
<div v-cloak id="main_contain" class="g_order_admin">
    <search-bar :value.sync="keyword" placeholder="请输入订单号、手机号、姓名"></search-bar>

    <div class="weui_panel weui_panel_access">
        <a class="weui_panel_ft" href="javascript:void(0);">查看全部订单</a>
        <div class="weui_panel_bd">
            <div class="weui_grids">
                <a href="javascript:;" class="weui_grid" v-for="item in statusCount.map">
                    <div class="weui_grid_icon status_count">
                        {{statusCount.count[$index]}}
                    </div>
                    <p class="weui_grid_label">
                        {{item}}
                    </p>
                </a>
            </div>
        </div>
    </div>

    <div class="g_order_list">
        <div class="weui_panel weui_panel_access order_urgent" v-for="order in orders">
            <div class="weui_panel_hd weui_cell">
                <div class="weui_cell_primary order_date">报修时间：{{order.updatedAt | date}}</div>
                <div class="weui_cell_ft status_pending">
                    待接单
                </div>
            </div>
            <div class="weui_panel_bd">
                <a href="/order_detail_admin.html?id={{order.objectId}}" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">

                        <img v-if="order.thumbnails" class="weui_media_appmsg_thumb" :src="order.thumbnails[0]" alt="">
                    </div>
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title">故障描述</h4>
                        <p class="weui_media_desc">{{order.desc}}</p>
                    </div>
                </a>
            </div>
            <div class="weui_panel_hd weui_cell">
                <div class="weui_cell_primary" v-if="order.status == 0">
                    {{{now | countDown order.updatedAt (24*60*60*1000) | countDownText}}}
                </div>
                <div class="weui_cell_primary" v-else>
                    预估费用:150元
                </div>
                <div class="weui_cell_ft" v-if="now && ((new Date(now) - new Date(order.updatedAt)) <= 24*60*60*1000)">
                    <a class="weui_btn weui_btn_primary weui_btn_mini" href="javascript:">接单给报价</a>
                </div>
            </div>
        </div>
    </div>

    <div id="toastContainer">
        <toast v-ref:toast></toast>
        <loading-toast v-ref:loading></loading-toast>
    </div>
</div>

<div class="weui_loading_toast g_enter_loading">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>
<script src="/static/grant_info.js"></script>
</body>
</html>