<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>kache</title>
</head>
<body ontouchstart>
<div class="g_order_list">
    <div class="weui_panel weui_panel_access order_urgent" v-for="order in orders">
        <div class="weui_panel_hd weui_cell">
            <div class="weui_cell_primary order_date">
                报修时间：{{order.createdAt | date}}
            </div>
            <div class="weui_cell_ft status_pending">
                待接单
            </div>
        </div>
        <div class="weui_panel_bd">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">

                    <img v-if="order.thumbnails" class="weui_media_appmsg_thumb" :src="order.thumbnails[0]" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">故障描述</h4>
                    <p class="weui_media_desc">{{order.desc}}</p>
                </div>
            </a>
        </div>
        <div class="weui_panel_hd weui_cell">
            <div class="weui_cell_primary">
                预估费用:150元
            </div>
            <div class="weui_cell_ft">
                <a class="weui_btn weui_btn_default weui_btn_mini" href="javascript:">取消订单</a>
                <a class="weui_btn weui_btn_primary weui_btn_mini" href="javascript:">确认下单维修</a>
            </div>
        </div>
    </div>
</div>
<script src="/static/grant_info.js"></script>
</body>
</html>