<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>kache</title>
</head>
<body ontouchstart v-cloak>
<div class="g_order_detail">
    <div class="weui_panel">
        <div class="weui_panel_hd weui_cell" :class="{order_urgent: order.type === 0}">
            <div class="weui_cell_primary order_date">
                订单号:{{order.orderId}}
            </div>
            <div class="weui_cell_ft status_pending">
                {{statusMap[order.status]}}
            </div>
        </div>
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_appmsg media_box_locate">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="../assets/images/locate.png" />
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">报修位置</h4>
                    <p class="weui_media_desc">福建省福州市晋安区华林路214号</p>
                </div>
            </div>
        </div>
    </div>
    <div class="weui_panel weui_cells_access">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd" data-count="4">
                    <img class="weui_media_appmsg_thumb" src="../assets/images/baotai.jpg" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">故障描述</h4>
                    <p class="weui_media_desc">开不动，轮胎坏了</p>
                </div>
            </div>
        </div>
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd"><img src="../assets/images/message.png" alt="" style="display: block;
            margin-right: .8em"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>联系客服</p>
            </div>
            <span class="weui_cell_ft"></span>
        </a>
        <div class="weui_panel_ft date">
            报修时间：2014/05/31 07:07
        </div>
    </div>
    <div class="weui_panel price_list">
        <div class="weui_panel_hd">
            报价清单
        </div>
        <div class="weui_panel_bd">
            <ul>
                <li>
                    <div class="weui_cell">
                        <div class="weui_cell_primary">
                            工时 * 30（10元/时）
                        </div>
                        <div class="weui_cell_ft">
                            300元
                        </div>
                    </div>
                </li>
                <li>
                    <div class="weui_cell">
                        <div class="weui_cell_primary">
                            上门费
                        </div>
                        <div class="weui_cell_ft">
                            100元
                        </div>
                    </div>
                </li>
                <li>
                    <div class="weui_cell">
                        <div class="weui_cell_primary">
                            配件
                        </div>
                        <div class="weui_cell_ft">
                            350元
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="weui_cell">
                                <div class="weui_cell_primary">
                                    防冻吸尘管
                                </div>
                                <div class="weui_cell_ft">
                                    150元
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="weui_cell">
                                <div class="weui_cell_primary">
                                    天然气滤清器
                                </div>
                                <div class="weui_cell_ft">
                                    100元
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="weui_cell">
                                <div class="weui_cell_primary">
                                    颇尔滤芯UE299A
                                </div>
                                <div class="weui_cell_ft">
                                    100元
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="weui_panel_ft">
            <p>总费用:750元</p>
            <p>下单时间:2015-08-27 14:00:22</p>
        </div>
    </div>
</div>
<div id="toastContainer">
    <toast v-ref:toast></toast>
    <loading-toast v-ref:loading></loading-toast>
</div>
<script src="/static/grant_info.js"></script>
</body>
</html>