<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
	<title>kache</title>
</head>
<body ontouchstart>
<div v-cloak id="main_contain" class="g_order_detail g_order_detail_admin">
    <div class="weui_panel">
        <div class="weui_panel_hd weui_cell" :class="{order_urgent: order.type === 0}">
            <div class="weui_cell_primary order_date">
                订单号:{{order.orderId}}
            </div>
            <div class="weui_cell_ft status_pending">
                {{statusMap[order.status]}}
            </div>
        </div>
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_appmsg media_box_locate">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="../assets/images/locate.png" />
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">报修位置</h4>
                    <p class="weui_media_desc">福建省福州市晋安区华林路214号</p>
                </div>
            </div>
        </div>
    </div>

    <div class="weui_panel weui_cells_access">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd" data-count="{{order.images ? order.images.length + '张' : ''}}">
                    <img v-if="order.thumbnails" class="weui_media_appmsg_thumb" :src="order.thumbnails[0]" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">故障描述</h4>
                    <p class="weui_media_desc">{{order.desc}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="weui_panel signer_info">
        <div class="weui_panel_hd">
            报修人信息
        </div>
        <div class="weui_panel_bd">
            <ul>
                <li>
                    <div class="weui_cell">
                        <div class="weui_cell_primary">
                            报修人:
                        </div>
                    </div>
                </li>
                <li>
                    <div class="weui_cell">
                        <div class="weui_cell_primary">
                            联系电话:{{order.createdBy.myMobilePhoneNumber}}
                        </div>
                        <div class="weui_cell_ft">

                        </div>
                    </div>
                </li>
                <li>
                    <div class="weui_cell">
                        <div class="weui_cell_primary">
                            报修时间:{{order.updatedAt | date}}
                        </div>
                        <div class="weui_cell_ft">

                        </div>
                    </div>
                </li>
                <li>
                    <div class="weui_cell">
                        <div class="weui_cell_primary">
                            欠我厂总费用:
                        </div>
                        <div class="weui_cell_ft">

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="weui_panel_ft">
            <p>总费用:750元</p>
            <p>下单时间:2015-08-27 14:00:22</p>
        </div>
    </div>

    <div class="weui_panel price_list">
        <div class="weui_panel_hd">
            报价清单
        </div>
        <div class="weui_panel_bd">
            <ul>
                <li>
                    <div class="weui_cell">
                        <div class="weui_cell_primary">
                            工时 * 30（10元/时）
                        </div>
                        <div class="weui_cell_ft">
                            300元
                        </div>
                    </div>
                </li>
                <li>
                    <div class="weui_cell">
                        <div class="weui_cell_primary">
                            上门费
                        </div>
                        <div class="weui_cell_ft">
                            100元
                        </div>
                    </div>
                </li>
                <li>
                    <div class="weui_cell">
                        <div class="weui_cell_primary">
                            配件
                        </div>
                        <div class="weui_cell_ft">
                            350元
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="weui_cell">
                                <div class="weui_cell_primary">
                                    防冻吸尘管
                                </div>
                                <div class="weui_cell_ft">
                                    150元
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="weui_cell">
                                <div class="weui_cell_primary">
                                    天然气滤清器
                                </div>
                                <div class="weui_cell_ft">
                                    100元
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="weui_cell">
                                <div class="weui_cell_primary">
                                    颇尔滤芯UE299A
                                </div>
                                <div class="weui_cell_ft">
                                    100元
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="weui_panel_ft">
            <p>总费用:750元</p>
            <p>下单时间:2015-08-27 14:00:22</p>
        </div>
    </div>

    <div id="toastContainer">
        <toast v-ref:toast></toast>
        <loading-toast v-ref:loading></loading-toast>
    </div>
</div>

<div class="weui_loading_toast g_enter_loading">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>
<script src="/static/grant_info.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</body>
</html>