<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
	<title>kache</title>
</head>
<body ontouchstart>
<div v-cloak id="main_contain" class="g_subscribe_sign">
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><span class="weui_label">预约时间</span></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="datetime-local" value="" v-model="date">
            </div>
        </div>
        <div class="weui_cell weui_cell_select">
            <div class="weui_cell_hd"><span class="weui_label">预约项目</span></div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" v-model="selectedItem">
                    <option v-for="item in items" v-bind:value="item.value">
                        {{ item.text }}
                    </option>
                </select>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><span class="weui_label"></span>车辆型号</div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" placeholder="例如陕汽 德龙F3000">
            </div>
        </div>
    </div>

    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <textarea class="weui_textarea" placeholder="补充故障描述，让维修厂更快维修您的车辆" rows="3"
                          v-model="description"></textarea>
                <div class="weui_textarea_counter"><span>{{description.length}}</span>/{{descMaxLength}}</div>
            </div>
        </div>
    </div>

    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <uploader :count="uploadCount" :max-length="uploadMaxLength" :has-input="true">
                    <template slot="title">添加故障图片</template>
                </uploader>
            </div>
        </div>
    </div>

    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="./bind_phone.html">确认报修</a>
    </div>
</div>

<div class="weui_loading_toast g_enter_loading">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>
<script src="/static/grant_info.js"></script>
</body>
</html>
